<%= form_for(@scorecard) do |f| %>
<span id="scorecardContainer">
	<h2>Your Scorecard</h2>
	<div id="frontNine">
		<span class="holeInputLabel">1</span>
		<span class="holeInputLabel">2</span>
		<span class="holeInputLabel">3</span>
		<span class="holeInputLabel">4</span>
		<span class="holeInputLabel">5</span>
		<span class="holeInputLabel">6</span>
		<span class="holeInputLabel">7</span>
		<span class="holeInputLabel">8</span>
		<span class="holeInputLabel">9</span>
	<div>
		<span><%= f.text_field :hole1, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole2, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole3, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole4, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole5, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole6, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole7, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole8, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole9, :class => "holeInput", :value => "3" %></span>
		<span class="proLabel"><%= f.check_box :pro_tees %> <span>Pro?</span></span>
	</div>
	</div><!-- end frontNine div-->
	
	<div id="backNine">
		<span class="holeInputLabel">10</span>
		<span class="holeInputLabel">11</span>
		<span class="holeInputLabel">12</span>
		<span class="holeInputLabel">13</span>
		<span class="holeInputLabel">14</span>
		<span class="holeInputLabel">15</span>
		<span class="holeInputLabel">16</span>
		<span class="holeInputLabel">17</span>
		<span class="holeInputLabel">18</span>
		<span class="totalInputLabel">Total</span>
	<div>
		<span><%= f.text_field :hole10, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole11, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole12, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole13, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole14, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole15, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole16, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole17, :class => "holeInput", :value => "3" %></span>
		<span><%= f.text_field :hole18, :class => "holeInput", :value => "3" %></span>
		<%= f.text_field :score, :size => "2", :class => "totalInput", :value => "E", :readonly => "readonly" %>
		<%= f.text_field :total, :size => "2", :class => "totalInput", :value => "54", :readonly => "readonly" %>
	</div>	
	</div><!-- end backNine div-->
	
	<%= f.hidden_field :date, :value => @date.strftime("%B %d, %Y") %>
	<div><%= f.submit :class => "addScoreBtn", :value => "Log Score" %></div>
</span><!-- end scorecardContainer div-->

<% end  %>

<span id="outputScoresContainer">

	<h2>Your Rounds</h2>

<div>
	<span class="dateOutputLabel">Date</span>
	<span class="totalOutputLabel">Total</span>
	<span class="proOutputLabel">Pro Tees?</span>
</div>

<div id="showScores">
	<% @scorecards.each do |scorecard| %>
	
		<span class="dateOutput"><%= scorecard.date %></span>
		<span class="totalOutput"><%= scorecard.score %></span>
		<span class="totalOutput"><%= scorecard.total %></span>
		<% if @scorecard_show.present? && scorecard.id == @scorecard_show.id %>
			<span><%= link_to(image_tag("arrow-south.png", :width => "18"), scorecards_path) %></span>
		<% else %>
			<span><%= link_to(image_tag("arrow-west.png", :width => "18"), scorecard) %></span>
		<% end %>
		<span class="proOutput"><%= scorecard.pro_tees %></span>
		<span class="deleteBtn"><%= button_to "x", scorecard, :method => :delete, :class => "deleteBtn" %></span>

		<% if @scorecard_show.present? && scorecard.id == @scorecard_show.id %>
			<div class="scorecardOutput">
				<div>
					<span class="holeLabelOutput">1</span>
					<span class="holeLabelOutput">2</span>
					<span class="holeLabelOutput">3</span>
					<span class="holeLabelOutput">4</span>
					<span class="holeLabelOutput">5</span>
					<span class="holeLabelOutput">6</span>
					<span class="holeLabelOutput">7</span>
					<span class="holeLabelOutput">8</span>
					<span class="holeLabelOutput">9</span>
				</div>
				<div>
					<span class="holeOutput"><%=  @scorecard_show.hole1 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole2 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole3 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole4 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole5 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole6 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole7 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole8 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole9 %></span>
				</div>
				<div>
					<span class="holeLabelOutput">10</span>
					<span class="holeLabelOutput">11</span>
					<span class="holeLabelOutput">12</span>
					<span class="holeLabelOutput">13</span>
					<span class="holeLabelOutput">14</span>
					<span class="holeLabelOutput">15</span>
					<span class="holeLabelOutput">16</span>
					<span class="holeLabelOutput">17</span>
					<span class="holeLabelOutput">18</span>
				</div>
				<div>
					<span class="holeOutput"><%=  @scorecard_show.hole10 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole11 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole12 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole13 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole14 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole15 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole16 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole17 %></span>
					<span class="holeOutput"><%=  @scorecard_show.hole18 %></span>
				</div>
			</div><!-- end scorecardOutput div-->	
		<% end %>
	<% end  %>
	</div><!-- end showScores div -->
</span><!-- end outputScoresContainer div-->























