<%= form_for(@user_session) do |f| %>
  <% if @user_session.errors.any? %>
  	<% @user_session.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	<% end %>
  <% end %>
  
  <div>Email</div>
  <div><%= f.text_field :email %></div>
  <div>Password</div>
  <div><%= f.password_field :password %></div>
  <div><%= f.submit %></div>
<% end  %>	