<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'scorecard' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <div id="header">
	<%= image_tag("playElver_header.png") %>
	<ul>
		<li>LeaderBoards</li>
		<% if current_user %>
			<li><%= link_to "Sign Out", { :controller => "user_sessions", :action => "destroy" } %></li>
		<% else %>
			<li><%= link_to "Sign In", signin_path %></li>
		<% end %>
		<li><%= link_to "Scorecard", scorecards_path %></li>
	</ul>
  </div><!-- end header div-->
  <% flash.each do |msg| %>
  	<%= content_tag :div, msg %>
  <% end  %> 
  <%= yield %>
  <div id="footer">
	<ul>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Home", root_path %></li>
	</ul>
	<span id="footerRight">
	<p>playElver was developed by Chris Walker using:</p>
	<%= image_tag "html5_logo.png", :height => "30" %>
	<%= image_tag "jquery_logo.png", :height => "30"%>
  	<%= image_tag "rails.png", :height => "30" %>
	</span>
  </div>
</div><!-- end wrapper div-->
</body>
</html>
