<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'scorecard' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <div id="header">
	<%= image_tag("playElver_header.png") %>
	<ul>
		<li>My playElver</li>
		<li>LeaderBoards</li>
		<li><%= link_to "Scorecard", scorecards_path %></li>
	</ul>
  </div><!-- end header div-->
  <%= yield %>
  <div id="footer">
	<p>playElver was developed by Chris Walker</p>
  	<ul>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Home", root_path %></li>
	</ul>
  </div>
</div><!-- end wrapper div-->
</body>
</html>
